@model BudgetProfilerr.Models.Entities.UserModel
<tr>
    <td>
        <div class="form-group">
            <label class="label label-default" for="FirstName">@Html.DisplayNameFor(model => model.FirstName)</label>
            @Html.EditorFor(m => Model.FirstName, new { htmlAttributes = new { @class = "form-horizontal", role = "form", value = Model.FirstName } })
        </div>
    </td>
    <td>
        <div class="form-group">
            <label class="label label-default" for="LastName">@Html.DisplayNameFor(model => model.LastName)</label>
            @Html.EditorFor(m => Model.LastName, new { value = Model.LastName })
        </div>
    </td>
</tr>