@model IEnumerable<BudgetProfilerr.Models.Entities.UserModel>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Update<br><small>Update the chosen users.</small></h1><br>User modification will not be successfull if there is a user with the <s><span class="mark">same</span> first and last name</s>
        </div>
        @using (Html.BeginForm("UpdateUsers", "Users", FormMethod.Post))
        {
            <div class="row">
                <table class="table table-condensed">
                    @foreach (var user in Model)
                    {
                        Html.RenderPartial("_userEdit", user);
                    }
                </table>
                <hr><input type="submit" value="Edit" class="btn btn-default">
            </div>
        }
    </div>
</div>
