@model IEnumerable<BudgetProfilerr.Models.Entities.UserModel>
<div class="col-md-3">
    <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Menu Item 1</a></li>
                    @foreach (var user in Model)
                    {
                        <li><a href="#" >@user.FirstName @user.LastName</a></li>
                    }
                    <li><a href="#"><b>Selected users </b><span class="badge">@Model.Count()</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>