@using BudgetProfilerr.Models
@model  BudgetProfilerr.Models.ModelViews.TransactionViewModel
<hr>
<h1>Transactions<br><small>Transactions for the operating users are being displayed.</small></h1>
<div class="row">
    <!--SelectedUsersNavBar-->
    @Html.Partial("_TransactionNavBar", Model.SelectedUsers)
    <!--./SelectedUsersNavBar-->
    <div class="col-md-6">
        <!--SelectedUserInformation-->
        @Html.Partial("_transactionUserInformation", Model)
        <!--./SelectedUserInformation-->
    </div>
</div>
<div class="row">
    <!--Transaction Creation-->
    @Html.Partial("_transactionAddForm", Model)
    <!--./Transaction Creation-->
</div>
<div class="row">
        <!--Transaction Table-->
        @Html.Partial("_transactionTable", Model)
        <!--./Transaction Table-->
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(document).ready(
        function () {
            $('#transactiontable').hover(
                function () {
                    $(this).fadeTo('slow', 0.9)
                }, function () {
                    $(this).fadeTo('slow', 0.65)
                }),
            $('#transactionform').hover(
                function () {
                    $(this).fadeTo('slow', 0.9)
                }, function () {
                    $(this).fadeTo('slow', 0.55)
                })
        });
</script>